/*******************************************************************************
  Base Styles
*******************************************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 3000px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  display: block;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

[class*='max-'] {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

[class*='max-']:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************************************************
  Typography
*******************************************************************************/

html {
  font-size: 62.5%;
  font-family: 'Hind', sans-serif;
  color: #333;
}

body {
  font-size: 1.4rem;
  line-height: 1.3;
}

ul {
  padding-left: 20px;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

.max-1240 {
  max-width: 1240px;
}

.max-960 {
  max-width: 960px;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #00b7ff;
}

.text-grey {
  color: #999;
}

.text-20 {
  font-size: 2rem;
}

/*******************************************************************************
  Grid Layouts
*******************************************************************************/

.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 30px;
}

[class*='col-'] .grid-row:last-of-type {
  padding-right: 0;
}

/*
  Used to correct spacing where row has empty columns
  (avoids need for empty divs)
*/
[class*='col-'] .grid-row.not-end-col {
  padding-right: 30px;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2,
.col-2-4 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-3-4 {
  width: 75%;
}

.col-1-8 {
  width: 12.5%;
}

[class*='col-'] img,
[class*='col-'] iframe {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* Columns revert to 100% width on mobile devices */
@media screen and (max-width: 767px) {

  [class*='col-'] {
    float: none;
    width: 100%;
    padding: 0 !important;
    margin: 0 0 40px 0;
  }

}

/*******************************************************************************
  Helpers
*******************************************************************************/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-btm-15 {
  margin-bottom: 15px;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-btm-30 {
  margin-bottom: 30px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-btm-50 {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-tablet-up {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hide-tablet-down {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

/*******************************************************************************
  Icons
*******************************************************************************/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89731581');
  src: url('../font/fontello.eot?89731581#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?89731581') format('woff2'),
       url('../font/fontello.woff?89731581') format('woff'),
       url('../font/fontello.ttf?89731581') format('truetype'),
       url('../font/fontello.svg?89731581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tent:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-down:before { content: '\e802'; } /* '' */
.icon-ticket:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */

/*******************************************************************************
  Header
*******************************************************************************/

#page-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#hd-logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
}

/*******************************************************************************
  Menu
*******************************************************************************/

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  display: block;
  line-height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

/* Mobile Menu */
@media screen and (max-width: 767px) {

  .menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
  }

  #menu-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #fff;
    -webkit-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
  }

  #menu-wrap.active {
    max-height: 400px;
  }

  .menu a {
    display: block;
    color: #00b7ff;
    padding: 15px 20px;
    line-height: 1;
    border-bottom: 1px solid #ddd;
  }

}

@media screen and (max-width: 1024px) {

  #hd-logo {
    font-size: 1.4rem;
  }

}

/* Menu on portrait tablet up */
@media screen and (min-width: 768px) {

  .menu-trigger {
    display: none;
  }

  #menu-wrap {
    float: right;
  }

  .menu li {
    display: inline-block;
  }

}

/*******************************************************************************
  Footer
*******************************************************************************/

#page-footer {
  padding: 15px 0;
  background: #EFEFEF;
  line-height: 1;
  text-align: center;;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

#page-footer a {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,.2);
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
}

#page-footer a:hover {
  color: #f27c00;
}

/*******************************************************************************
  Main
*******************************************************************************/

#main {
  padding-top: 50px;
  height: 100%;
}

.page-section {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 200px;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
}

.banner {
  height: 100%;
  min-height: 220px;
  width: 100%;
  text-align: center;
  position: relative;
}

.banner-image {
  height: 100%;
  width: 100%;
  background: url(../img/code-camp-banner.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-image:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.banner-text {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -105px;
  left: 0;
  width: 100%;
  color: #fff;
}

.banner-text a {
  color: #fff;
}

.banner-main-heading {
  font-size: 5.8rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.banner-byline {
  font-weight: 400;
  font-family: Hind;
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.banner-sub-heading {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  margin-bottom: 50px;
}

.banner-sub-heading-section {
  display: inline-block;
  padding: 0 0 0 15px;
  border-left: 1px solid rgba(255,255,255,0.7);
  line-height: 1;
  margin: 0 15px 0 0;
}

.banner-sub-heading-section:first-child {
  border: none;
}

.banner-blurb {
  font-size: 2.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.next-panel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 10px;
  line-height: 1;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

/*******************************************************************************
  Type text effect
*******************************************************************************/

.js-type-text {
  display: inline-block;
}

.text-cursor {
  display: inline-block;
  width: 40px;
  height: 7px;
  background: #fff;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

/*******************************************************************************
  Timetable
*******************************************************************************/

.time-entry {
  font-weight: 700;
}

.all-streams {
  height: calc(400% + 6px) !important;
}

.time-entry.keynote,
.time-entry.wrap-up {
  background: #666;
}

.time-entry.keynote:hover,
.time-entry.wrap-up:hover {
  background: #666;
}

.time-entry.lunch,
.time-entry.lunch:hover,
.time-entry.coffee,
.time-entry.coffee:hover {
  background: #D7D7D7;
  color: #777;
  text-transform: uppercase;
}

.time-entry.ss1-talk {
  background-color: #5AC8F2;
}

.time-entry.ss2-talk {
  background-color: #687EF4;
}

.time-entry.sql-talk {
  background-color: #FFCF58;
}

.time-entry.windows-talk {
  background-color: #FFAF58;
}

.timetable-key {
  display: none;
}

.key-item {
  border-left-width: 30px;
  border-left-style: solid;
  padding-left: 10px;
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}

.ss1-key {
  border-color: #5AC8F2;
}

.ss2-key {
  border-color: #687EF4;
}

.sql-key {
  border-color: #FFCF58;
}

.windows-key {
  border-color: #FFAF58;
}

.key-note {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
  color: #666;
}

.showgizmo-logos {
  padding-top: 60px;
  text-align: center;
}

.app-store-badge,
.showgizmo-logo {
  display: inline-block;
  margin: 0 0 10px 40px;
}

.border-top {
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.timetable section {
  overflow-y: hidden;
}

@media screen and (max-width: 767px) {

  .app-store-badge,
  .showgizmo-logo {
    max-width: 130px;
    margin: 0 20px
  }

}

@media screen and (max-width: 560px) {

  .app-store-badge,
  .showgizmo-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto 20px auto;
  }


}


/*******************************************************************************
  Speakers
*******************************************************************************/

.speaker {
  text-align: center;
  margin-bottom: 30px;
}

.speaker-image {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 100%;
  overflow: hidden;
}

.speaker-image:before {
  content: 'View Talk Details...';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 60px 15px;
  font-size: 1.4rem;
  line-height: 1.4;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  background: rgba(0, 183, 255, 0.8);
  opacity: 0;
  transition: opacity 500ms ease;
}

.speaker-image.js-show-overlay:hover:before {
  opacity: 1;
}

.speaker-title,
.speaker-title a {
  color: #666;
}

/*******************************************************************************
  Info Overlay
*******************************************************************************/

.js-overlay,
.js-overlay-content {
  display: none;
}

.js-overlay.active,
.js-overlay-content.active {
  display: block;
}

.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.95);
  color: #333;
  overflow: auto;
  padding: 100px 0;
  min-height: 400px;
}

.overlay-heading {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
  line-height: 1;
}

.overlay-heading-title {
  display: inline-block;
  font-size: 3rem;
  color: #00B7FF;
  margin: 0;
  text-transform: uppercase;
  max-width: calc(100% - 30px)
}

.close-overlay-icon {
  font-size: 3rem;
}

.talk-title {
  font-size: 2rem;
  margin: 0 0 15px 0;
  line-height: 1.3;
}

.talk-time {
  text-transform: uppercase;
  color: #999;
  margin-bottom: 30px;
}

.talk-time span {
  margin: 0 5px;
}

.talk-body {
  line-height: 1.5;
}

.talk-body h4 {
  margin: 0 0 10px 0;
}

.twitter-link {
  display: inline-block;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.twitter-link i {
  display: inline-block;
  font-size: 2rem;
  color: #00B7FF;
  vertical-align: middle;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.twitter-link:hover {
  background: #00B7FF;
  color: #fff;
}

.twitter-link:hover i {
  color: #fff;
}

/*******************************************************************************
  Register Section
*******************************************************************************/

dl {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

dt {
  float: left;
  clear: left;
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 10px 0;
}

dd {
  float: left;
  margin: 0 0 10px 0;
}

.btn {
  display: inline-block;
  background: #00b7ff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
  border-bottom: 3px solid #00ADFF;
  border-right: 3px solid #00ADFF;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn:hover {
  background: rgba(0,183,255,.9);
  border-bottom: 3px solid #00b7ff;
  border-right: 3px solid #00b7ff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/*******************************************************************************
  Contact Section
*******************************************************************************/

#contact {
  border: none;
}

#location-map {
  width: 100%;
  height: 450px;
}

/*******************************************************************************
  Media Queries
*******************************************************************************/

@media screen and (max-width: 767px) {

  #hd-logo {
    font-size: 1.2rem;
  }

  .banner-text {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 0;
  }

  .banner-main-heading {
    font-size: 4rem;
    margin-bottom: 40px;
    line-height: 1.1;
  }

  .banner-sub-heading {
    font-size: 2rem;
    text-align: left;
  }

  .banner-sub-heading-section {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 10px;
  }

  .banner-blurb {
    font-size: 1.8rem;
  }

  .details-overlay {
    padding: 30px 0;
    min-height: 0;
  }

  .overlay-heading-title,
  .close-overlay-icon {
    font-size: 2rem;
  }

}

@media screen and (max-width: 1024px) {

  #page-header {
    position: fixed;
  }

  .banner {
    padding: 20px 0;
  }

  .details-overlay {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}

@media screen and (min-width: 768px) {

  .page-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-heading {
    position: relative;
    font-size: 4rem;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #444;
    display: block;
    width: 100%;
    position: relative;
  }

  .section-heading span {
    position: relative;
    z-index: 5;
    padding: 0 40px;
    background: #fff;
  }

  .section-heading:before,
  .section-heading:after {
    content: '';
    width: 45%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    z-index: 0;
    top: 50%;
  }

  .section-heading:before {
    left: 0;
  }

  .section-heading:after {
    right: 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .banner-sub-heading {
    font-size: 2rem;
  }

  .banner-text {
    padding: 0 30px;
  }

}

/* Mobile styles for timetable plugin */
@media screen and (max-width: 960px) {

  .timetable aside {
    display: none;
  }

  .timetable section {
    width: 100%;
  }

  .timetable-key {
    display: block;
  }

}
