/*******************************************************************************
  Base Styles
*******************************************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 3000px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  display: block;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

[class*='max-'] {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

[class*='max-']:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************************************************
  Typography
*******************************************************************************/

html {
  font-size: 62.5%;
  font-family: 'Hind', sans-serif;
  color: #333;
}

body {
  font-size: 1.4rem;
  line-height: 1.3;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

.max-1240 {
  max-width: 1240px;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #00b7ff;
}

/*******************************************************************************
  Grid Layouts
*******************************************************************************/

.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 30px;
}

[class*='col-'] .grid-row:last-of-type {
  padding-right: 0;
}

/*
  Used to correct spacing where row has empty columns
  (avoids need for empty divs)
*/
[class*='col-'] .grid-row.not-end-col {
  padding-right: 30px;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2,
.col-2-4 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-8 {
  width: 12.5%;
}

/* Columns revert to 100% width on mobile devices */
@media screen and (max-width: 767px) {

  [class*='col-'] {
    float: none;
    width: 100%;
    padding: 0 !important;
    margin: 0 0 40px 0;
  }

}

/*******************************************************************************
  Helpers
*******************************************************************************/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-btm-15 {
  margin-bottom: 15px;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-btm-30 {
  margin-bottom: 30px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-btm-50 {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-tablet-up {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hide-tablet-down {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

/*******************************************************************************
  Icons
*******************************************************************************/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89731581');
  src: url('../font/fontello.eot?89731581#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?89731581') format('woff2'),
       url('../font/fontello.woff?89731581') format('woff'),
       url('../font/fontello.ttf?89731581') format('truetype'),
       url('../font/fontello.svg?89731581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tent:before { content: '\e800'; }
.icon-menu:before { content: '\e801'; }
.icon-down:before { content: '\e802'; }
.icon-ticket:before { content: '\e803'; }
.icon-mail:before { content: '\e804'; }
.icon-twitter:before { content: '\e805'; }
.icon-up:before { content: '\e806'; }
.icon-location:before { content: '\e807'; }
.icon-calendar:before { content: '\e808'; }

/*******************************************************************************
  Header
*******************************************************************************/

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111;
  color: #fff;
}

header a {
  color: #fff;
}

#hd-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 300;
}

/*******************************************************************************
  Main
*******************************************************************************/

#main {
  padding-top: 50px;
  height: 100%;
}

section {
  overflow: hidden;
}

.banner {
  height: 100%;
  min-height: 220px;
  width: 100%;
  text-align: center;
  position: relative;
}

.banner-image {
  height: 100%;
  width: 100%;
  background: url(../img/code-camp-banner.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-image:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.banner-text {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -105px;
  left: 0;
  width: 100%;
  color: #fff;
}

.banner-text a {
  color: #fff;
}

.banner-main-heading {
  font-size: 5.8rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.banner-sub-heading {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  margin-bottom: 50px;
}

.banner-sub-heading-section {
  display: inline-block;
  padding: 0 0 0 15px;
  border-left: 1px solid rgba(255,255,255,0.7);
  line-height: 1;
  margin: 0 15px 0 0;
}

.banner-sub-heading-section:first-child {
  border: none;
}

.banner-blurb {
  font-size: 2.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.next-panel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  position: absolute;
  left: 0;
  bottom: 10px;
  line-height: 1;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

/*******************************************************************************
  Type text effect
*******************************************************************************/

.js-type-text {
  display: inline-block;
}

.text-cursor {
  display: inline-block;
  width: 40px;
  height: 7px;
  background: #fff;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

/*******************************************************************************
  Media Queries
*******************************************************************************/

@media screen and (max-width: 767px) {

  #hd-logo {
    font-size: 1.2rem;
  }

  .banner-text {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 0;
  }

  .banner-main-heading {
    font-size: 4rem;
    margin-bottom: 40px;
    line-height: 1.1;
  }

  .banner-sub-heading {
    font-size: 2rem;
    text-align: left;
  }

  .banner-sub-heading-section {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 10px;
  }

  .banner-blurb {
    font-size: 1.8rem;
  }

}

@media screen and (max-width: 1024px) {

  header {
    position: fixed;
  }

  .menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
  }

  .banner {
    padding: 20px 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .banner-sub-heading {
    font-size: 2rem;
  }

  .banner-text {
    padding: 0 30px;
  }

}